.navbarContainer {
   position: relative;
   display: flex;
   justify-content: center;
}
.containerNav {
   width: 80%;
}
.grLeft {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.grLeft > span:hover {
   cursor: pointer;
}

.grRight {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
.homeText,
.shopText {
   font-style: italic;
}

.cart span:hover {
   cursor: pointer;
   color: #e6ca86;
}

.cart > span {
   color: black;
}

.icon {
   color: #d3d3d3;
}

.title {
   font-style: italic;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0.4rem 0;
   font-weight: 400;
}
.title:hover {
   cursor: pointer;
   color: #e6ca86;
}

.active {
   color: #e6ca86;
}

@media screen and (max-width: 768px) {
   .containerNav{
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .grLeft {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .grRight {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .title {
      padding: 1rem 0;
   }
   .cart{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      border-radius: 4px;
      width: 10rem;
   }
   .cart>span{
      color: white;

   }
}
